<!-- Generated template for the CardComponent component -->
<ion-card>
  <ion-card-header>
    
  </ion-card-header>
  <ion-card-content>
    <h3>{{card?.question}}</h3>
    <div *ngIf="!card?.answered">
      <button ion-button block *ngFor="let answer of card?.answers; let i = index" (click)="answerCard(i)" >{{answer}}</button>
    </div>
    <div *ngIf="card?.answered">
      <button ion-button block *ngFor="let answer of card?.answers; let i = index" [outline]="solid[i]" [color]="colorArray[i]" disabled >{{answer}}</button>
    </div>
  </ion-card-content>
</ion-card>